<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd"
    [
            <!ENTITY log4j.applicationName "h-rider">
            <!ENTITY log4j.logDir "logs">
    ]
>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %-30c{1} : %m%n" />
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="&log4j.logDir;/&log4j.applicationName;.log" />
        <param name="MaxFileSize" value="25000KB" />
        <param name="MaxBackupIndex" value="10"/>
        <param name="Append" value="true" />
        <param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %-30c{1} : %m%n" />
        </layout>
    </appender>

    <appender name="DEFAULT_FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="&log4j.logDir;/&log4j.applicationName;-all.log" />
        <param name="MaxFileSize" value="25000KB" />
        <param name="MaxBackupIndex" value="3"/>
        <param name="Append" value="true" />
        <param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t] %-30c{1} : %m%n" />
        </layout>
    </appender>


    <logger name="hrider" additivity="false" >
        <level value="INFO" />
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <root>
        <priority value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DEFAULT_FILE"/>
    </root>

</log4j:configuration>